{% extends 'base.html'%}

{% block content %}
<div class="container">
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-4">
    <h3> {{user.username| capitalize}} </h3>

    {% if user.profile_pic_path %}
    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
    {%else%}
    <img src="{{url_for('static',filename='photos/default.png')}}" alt="" class="img-thumbnail">
    
    {% endif %}
    {% if user == current_user %}
    <form  action="{{url_for('main.update_pic',username=user.username)}}" method="post" enctype = "multipart/form-data">

      <input type="file"  name="photo" class="form-control" required>
      <input type="submit" class="btn btn-primary">
    </form>
      {% endif %}
    {% if user.bio %}
      <p> {{user.bio}}</p>
    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}

    {% if user == current_user %}
        <a href="{{url_for('main.profle_update',username=user.username)}}" class="btn btn-primary">Edit profile</a>
    {% endif %}
  </div>
      <h1>My Articles</h1>
      {% for myarticle in my_articles %}
      <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">My Article</div>
        <div class="panel-body">
          {{ myarticle.article | truncate(200) }}
      </div>
      </div>
    </div>
      {% endfor %}
</div>
<div class="row">
    

</div>
</div>
{% endblock %}