{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">Article</div>
            <div class="panel-body">
                <p>{{ article.article }}</p>
                <p><strong>by: {{ article.user.username }}</strong></p>
            </div>
            {% if article.user == current_user %}
                    <div>
                        <a class="btn btn-primary btn-sm sm-1"href="{{url_for('main.update',article_id = article.id)}}">Update</a>
                        <button type="button" class="btn btn-danger btn-sm sm-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    </div>
                    {% endif %}
        </div>
        <div class="row">
            <div class="col-md-6">
                    <h1>comment and feedback section</h1>
                <form action="/articlediscussion/{{article.id}}/comment" method="post">
                    <div class="form-group">
                        <input type="text" name="comment" class="form-control">
                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                {% for comment in comments %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Comment By:{{ comment.user.username }}</p>
                        <p>{{ comment.comment }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Article?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{url_for('.delete',article_id = article.id)}}" method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}